@import "compass";

.albums-list {
	overflow: auto;

	.album {
		display: block;
		float: left;
		padding: 2em;

		.album-image {
			@include box-shadow(0px 3px 5px #CCC);
			display: block;
			width: 150px;
			height: 150px;
		}

	}
}