@import "compass";

.albums-list {
	overflow: auto;

	.album {
		display: block;
		float: left;
		padding: 2em;

		.album-image {
			@include box-shadow(0px 3px 5px #CCC);
			display: block;
			width: 150px;
			height: 150px;
		}

	}
}

.album-detail {
	margin-top: 3em;

	.album-image {
		@include box-shadow(0px 3px 5px #CCC);
		display: block;
		float: left;
		margin-right: 3em;
		width: 250px;
		height: 250px;
	}

	.album-artist {
		font-style: italic;
		margin-bottom: 2em;
	}

	.container {
		margin-bottom: 2em;
	}
}